@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes upToDown{
    from {
        transform: translateY(-100%) scale(0.5);
        opacity: 0;
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    width: 35%;
    margin-left: 55%;
    background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    animation: upToDown 3s ease forwards;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 650;
    letter-spacing: .1rem;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

::placeholder {
    letter-spacing: .1rem;
}

button {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    letter-spacing: .1rem;
    font-weight: 600;
    font-size: .9rem;
}

button:hover {
    background-color: #2980b9;
}

img {
    height: 70vh;
    position: absolute;
    top: 10%;
    left: 5%;
    animation: slideInLeft 3s ease forwards;

}