*{
    margin:0;
    padding: 0;
}
body {
    margin: 0;
    padding:0;
    padding-top: 6%;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: .5rem;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 5%;
    padding:5%;
}
.left .logo{
    display: flex;
    justify-content: center;
}
.left img{
    width: 40%;
}
.left .textheading{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left h2{
    font-weight: 700;
    margin:2%;
    font-size: 1.3rem;
}
.left h4{
    font-size: .9rem;
    font-weight: 300;
    margin:0;
    margin-bottom: 5%;
}
.left a i{
    margin:10px;
    color: black;
}
/* Style for the "or" divider */

.or-divider {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 60%;
    font-size: 8px;
    color: rgb(33, 88, 1);

}

.or-divider:before,
.or-divider:after {
    content: "";
    display: inline-block;
    width: 40%;
    border-top: 1px solid #000000; /* You can adjust the color */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.or-divider:before {
    left: 0;
}

.or-divider:after {
    right: 0;
}

.left .input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
input:focus::placeholder {
    color: transparent;
    font-family: "Poppins";
}
.left form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15rem;
    /*border: 2px solid black;*/
}
input[type="email"],input[type="password"]{
    border: .1px solid grey;
    background-color:white;
    border-radius: 10rem;
    height: 2.3rem;
    text-align: center;
    margin:5px;
    box-shadow: rgba(0, 0, 0, 0.9);
    letter-spacing: .02rem;
    font-family: "Poppins";
}

.left .extrafeatures {
    font-size: 10px;
    width: 100%;
    margin-top: 5%;
}
.left .extrafeatures a{
    padding: .2rem;
    margin-left: 50%;
}
.left a{
    text-decoration: none;
}

.admin-login a{
    height: 1rem;
    width: 3rem;
    margin: 0 10%;
    cursor: pointer;
    font-weight: 400;
    font-size: .9rem;
    color: #8A2BE2;
}

/* CSS for the submit button */
.left .submit input[type="submit"] {
    width: 96%;
    background-color: #8A2BE2;
    color: white;
    padding: 10px 0; /* Adjust padding for the desired size */
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    font-size: .9rem; /* Adjust font size for the desired size */
    transition: background-color 0.3s;
    margin-bottom: 0.5rem;
    letter-spacing: .05rem;
    margin: 5px;
}

.left .submit input[type="submit"]:hover {
    background-color: #A75EE8;
}

.left .submit input[type="submit"]:active {
    transform: scale(0.98);
}

.right{
    width: 500px;
    height: auto;
    /* background-image: url(./Resources/right\ image.png); */
    background-color: #8A2BE2;
    background-size: cover;
    border-radius: .5rem;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.forgot-password {
    font-size: .7rem;
}

.forgot-password a:hover {
    color: blue;
}


.right .welcome{
    color: #ffffff;
    font-family: 'Satisfy', cursive;
    font-size: 3.7rem;
    margin:10%;
}

/* Media Queries */
@media screen and (max-width :700px) {
    .right{
        display: none;
    }
}